<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa - FERREMAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="Titulo"><span>The </span>FERREMAS</h1>
    </header>
    
    

    <main class="contenedor sombra">
        <div class="mensaje-exito">
            <h2>¡Compra realizada con éxito! 🛠️✅</h2>
            <div class="iconos">
                <img src="img/tool-box.png" alt="Ícono de éxito" width="100">
            </div>
            <p class="texto-exito">Recibirás un correo electrónico con los detalles de tu transacción.</p>
            <a href="index.html" class="boton">Volver al Inicio</a>
        </div>
    </main>

    <footer class="footer">
        <div class="contenedor">
            <p>Todos los derechos reservados &copy; 2025</p>
        </div>
    </footer>
</body>
</html>