<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FERREMAS</title>

  <link rel="preload" href="css/normalize.css" as="style" />
  <link rel="stylesheet" href="../static/css/normalize.css" />
  <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet" />
  <link href="../static/css/styles.css" rel="stylesheet" />
</head>

<body>
  <header class="posicion">
    <a class="logo" href="index.html">
      <h1 class="Titulo"><span>The </span>FERREMAS</h1>
    </a>
    <a class="login" href="">Iniciar Sección </a>
  </header>
  <div class="nav-bg">
    <nav class="Navegacion-principal contenedor">
      <a class="navegacion__enlace--activo" href="index.html">Inicio</a>
      <a class="navegacion__enlace" href="inventario.html">Productos</a>
      <a class="navegacion__enlace" href="nosotros.html">Sobre Nosotros</a>
      <a class="navegacion__enlace" href="sucursal.html">Sucursales</a>
    </nav>
  </div>


  <section class="Hero">
    <div class="contenido-hero">
      <h2>La Mejor ferretería <span>FERREMAS</span>. Paga menos, Compra <span>MÁS</span></h2>
    </div>
  </section>

  <main class="contenedor sombra">
    <h2>Herramientas</h2>

    <div class="servicios">
      <section class="servicio">
        <h3>Herramientas Manuales</h3>
        <div class="iconos">
          <a href="manuales.html">
            <img src="../static/img/construccion.png" alt="Icono Herramientas Manuales" width="44" height="44" />
          </a>
        </div>
        <p>
          En FERREMAS contamos con una amplia variedad de herramientas manuales ideales para trabajos de precisión,
          reparaciones domésticas y proyectos profesionales. Calidad, durabilidad y ergonomía en cada producto.
        </p>
      </section>

      <section class="servicio">
        <h3>Materiales Básicos</h3>
        <div class="iconos">
          <a href="basicos.html">
            <img src="../static/img/tool-box.png" alt="Icono Materiales Básicos" width="44" height="44" />
          </a>
        </div>
        <p>
          Desde clavos hasta adhesivos, tenemos todos los materiales esenciales que necesitas para construir, reparar o
          mejorar. Nuestro stock asegura soluciones confiables para cada etapa de tu proyecto.
        </p>
      </section>

      <section class="servicio">
        <h3>Equipos de Seguridad</h3>
        <div class="iconos">
          <a href="seguridad.html">
            <img src="../static/img/seguridad.png" alt="Icono Equipos de Seguridad" width="44" height="44" />
          </a>
        </div>
        <p>
          Tu seguridad es nuestra prioridad. Encuentra guantes, cascos, lentes y más para protegerte durante cada tarea.
          Productos certificados y cómodos para trabajar con confianza.
        </p>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="contenedor">
      <p>Todos los derechos reservados &copy; 2025</p>
    </div>
  </footer>
</body>

</html>