<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FERREMAS</title>

  <link rel="preload" href="css/normalize.css" as="style" />
  <link rel="stylesheet" href="../static/css/normalize.css" />
  <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet" />
  <link href="../static/css/styles.css" rel="stylesheet" />
</head>

<body>
  <header class="posicion">
    <a class="logo" href="index.html">
      <h1 class="Titulo"><span>The </span>FERREMAS</h1>
    </a>
    <a class="login" href="">Iniciar Sección </a>
  </header>
  <div class="nav-bg">
    <nav class="Navegacion-principal contenedor">
      <a class="navegacion__enlace" href="index.html">Inicio</a>
      <a class="navegacion__enlace" href="inventario.html">Productos</a>
      <a class="navegacion__enlace--activo" href="nosotros.html">Sobre Nosotros</a>
      <a class="navegacion__enlace" href="sucursal.html">Sucursales</a>
    </nav>
  </div>


  <section class="Hero">
    <div class="contenido-hero">
      <h2>La Mejor ferretería <span>FERREMAS</span>. Paga menos, Compra <span>MÁS</span></h2>
    </div>
  </section>

  <main class="contenedor sombra">
    <section>
      <h1 class="Titulo">Nuestro <span>Equipo</span></h1>
      <h3>Conoce a las personas que hacen posible Ferremas</h3>
      <ul class="lista">
        <li>Juan Pérez - Gerente General</li>
        <li>María González - Encargada de Inventario</li>
        <li>Carlos López - Atención al Cliente</li>
        <li>Lucía Rojas - Cajera</li>
        <li>Pedro Castro - Jefe de Bodega</li>
        <li>Sofía Martínez - Vendedora</li>
        <li>Andrés Torres - Técnico en Herramientas</li>
      </ul>
    </section>
    <div class="descripcion">
      <div class="contenedor">
        <h3 class="sobrenosotros">Sobre Nosotros</h3>
        <p>En FERREMAS, nos especializamos en ofrecer soluciones de calidad para la construcción y el mantenimiento. Desde herramientas hasta materiales esenciales, nuestro compromiso es brindar productos confiables y asesoramiento experto para cada proyecto. Creemos en la innovación, el servicio al cliente y la excelencia en cada detalle.
        </p>
        <h3 >Nuestro Equipo</h3>
        <p>Nuestro equipo está formado por profesionales apasionados por la industria ferretera y la construcción. Cada miembro aporta experiencia y dedicación para garantizar que nuestros clientes reciban la mejor atención y productos de alta calidad. Trabajamos juntos para ofrecer soluciones eficientes y adaptadas a las necesidades de cada cliente.
        </p>
      </div>
      <img class="imagenSobreNopsotros" src="../static/img/SobreNosotros.jpg" alt="imagen nosotros">
    </div>
  </main>

  <footer class="footer">
    <div class="contenedor">
      <p>Todos los derechos reservados &copy; 2025</p>
    </div>
  </footer>
  
</body>
</html>
