<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FERREMAS</title>

  <link rel="preload" href="css/normalize.css" as="style" />
  <link rel="stylesheet" href="../static/css/normalize.css" />
  <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet" />
  <link href="../static/css/styles.css" rel="stylesheet" />
</head>

<body>
  <header class="posicion">
    <a class="logo" href="index.html">
      <h1 class="Titulo"><span>The </span>FERREMAS</h1>
    </a>
    <a class="login" href="">Iniciar Sección </a>
  </header>
  <div class="nav-bg">
    <nav class="Navegacion-principal contenedor">
      <a class="navegacion__enlace" href="index.html">Inicio</a>
      <a class="navegacion__enlace" href="inventario.html">Productos</a>
      <a class="navegacion__enlace" href="nosotros.html">Sobre Nosotros</a>
      <a class="navegacion__enlace--activo" href="sucursal.html">Sucursales</a>
    </nav>
  </div>

  <section class="Hero">
    <div class="contenido-hero">
      <h2>La Mejor ferretería <span>FERREMAS</span>. Paga menos, Compra <span>MÁS</span></h2>
    </div>
  </section>

      <main class="contenedor sombra">
    <section>
      <h1 class="Titulo"><span>Nuestras </span>Sucursales</h1>
      <h3>Conoce las sucursales  que hacen posible Ferremas</h3>
      <ul class="lista">
          <li>Local falcedad - av falcedad 3435</li>
          <li>Local falcedad - av falcedad 3435</li>
          <li>Local falcedad - av falcedad 3435</li>
          <li>Local falcedad - av falcedad 3435</li>
          <li>Local falcedad - av falcedad 3435</li>      
      </ul>
    </section>
</main>

  <footer class="footer">
    <div class="contenedor">
      <p>Todos los derechos reservados &copy; 2025</p>
    </div>
  </footer>
  
</body>
</html>
